[1]Chose action Direction.DOWN for state [0, 0, 1]
[2]Chose action Direction.RIGHT for state [0, 1, 0]
[3]Chose action Direction.RIGHT for state [1, 1, 0]
[4]Chose action Direction.RIGHT for state [2, 1, 0]
[5]Chose action Direction.RIGHT for state [3, 1, 0]
[6]Chose action Direction.RIGHT for state [4, 1, 0]
[7]Chose action Direction.RIGHT for state [5, 1, 0]
[8]Chose action Direction.RIGHT for state [6, 1, 0]
[9]Chose action Direction.RIGHT for state [7, 1, 0]
[10]Chose action Direction.RIGHT for state [8, 1, 0]
[11]Chose action Direction.RIGHT for state [9, 1, 0]
[12]Chose action Direction.RIGHT for state [10, 1, 0]
[13]Chose action Direction.RIGHT for state [11, 1, 0]
[14]Chose action Direction.RIGHT for state [12, 1, 0]
[15]Chose action Direction.RIGHT for state [13, 1, 0]
[16]Chose action Direction.DOWN for state [14, 1, 0]
[17]Chose action Direction.DOWN for state [14, 2, 0]
[18]Chose action Direction.DOWN for state [14, 3, 0]
[19]Chose action Direction.DOWN for state [14, 4, 0]
[20]Chose action Direction.DOWN for state [14, 5, 0]
[21]Chose action Direction.DOWN for state [14, 6, 0]
